.chat{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    padding: 3px;
    background-color: white;
    z-index: 200;
    
}
.chatview{
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    max-height: 300px;
    overflow-y: scroll;
}
.chatinput{
    width: 100%;
}
.chatcontrol{
    text-align: right;
}
.chatcontrol a{
    text-decoration: none;
    color: purple;
    cursor: pointer;
    
}
.chatcontrol a:hover{
    text-decoration: none;
    color: red;
}

/*mensagens */

.system,.send, .receved{
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	white-space: pre-wrap;
    border-bottom: 10px solid black;
    border-bottom: 10px solid transparent;
}

.system{
	background-color: rgba(255,100,255,0.8);
	
}

.send{
	background-color: rgba(100,100,255,0.8);
	text-align: left;
	border-bottom-right-radius: 0px;
    margin-right: 10px;
    border-left:  10px solid white;
}
.receved{
	background-color: rgba(100,255,100,0.8);
    text-align: right;
    margin-left: 10px;
	border-bottom-left-radius: 0px;
    border-right: 10px solid white;
}
/*
.send{
    float:left;
    background-color:#39c;
    border-top:10px solid #39c;
    border-left:10px solid transparent;
    background-clip: padding-box;
    padding: 0 10px 10px 10px;
}
*/